<div class="content is-medium">
	<div class="dropdown" [ngClass]="{'is-active': travelMethodOpen}" (click)="travelMethodOpen = !travelMethodOpen">
		<div class="dropdown-trigger">
			<a href="#" aria-haspopup="true" aria-controls="dropdown-menu">
				<span class="editable">{{getTravelMethodText()}}</span>
			</a>
		</div>
		<div class="dropdown-menu" role="menu">
			<div class="dropdown-content">
				<a (click)="place.method = TravelMethod.Walking" class="dropdown-item" [ngClass]="{'is-active': place.method == TravelMethod.Walking}">
					Walking
				</a>
				<a (click)="place.method = TravelMethod.Driving" class="dropdown-item" [ngClass]="{'is-active': place.method == TravelMethod.Driving}">
					Driving
				</a>
				<a (click)="place.method = TravelMethod.Transit" class="dropdown-item" [ngClass]="{'is-active': place.method == TravelMethod.Transit}">
					Taking Public Transport
				</a>
			</div>
		</div>
	</div>
	to
	<span contenteditable="true" class="editable" (blur)="updateName($event)">{{place.getDisplayText()}}</span>

	<a class="is-danger" (click)="removePlace()">
		<i class="fas fa-minus-circle"></i>
	</a>
</div>