<section class="hero is-info">
	<div class="hero-body">
		<div class="container">
			<h2 class="title">I'm interested in...</h2>
			<div class="field">
				<app-interested-place-select *ngFor="let place of interestedPlaces" [place]="place" (onRemoved)="removePlace(place)"></app-interested-place-select>
			</div>
			<button class="button is-success is-large" (click)="addPlace()">
				<i class="fas fa-plus-circle"></i> &nbsp;&nbsp;Add Place
			</button>

		</div>
	</div>
</section>

<section class="hero is-dark">
	<div class="hero-body">
		<div class="container">
			<h2 class="title">From...</h2>
			<div class="field">
				<div class="control">
					<input required class="input" type="text" placeholder="Address" [(ngModel)]="address" #inputControl="ngModel" [ngClass]="{'is-danger': inputControl.dirty && inputControl.invalid}">
				</div>
			</div>

			<button class="button is-primary is-large" [ngClass]="{'is-loading': isSearching}" (click)="search()" [disabled]="address == '' || interestedPlaces.length == 0">
				<i class="fas fa-search"></i> &nbsp;&nbsp;Search
			</button>
		</div>
	</div>
</section>

<section class="hero is-info" *ngIf="isSearching">
	<div class="hero-body">
		<div class="container">
			<h2 class="title">Searching</h2>
		</div>
	</div>
</section>

<section class="hero is-danger" *ngIf="errors.length > 0">
	<div class="hero-body">
		<div class="container">
			<h2 class="title">Error</h2>
			<p *ngFor="let error of errors">{{error}}</p>
		</div>
	</div>
</section>

<section class="hero is-success" *ngIf="location">
	<div class="hero-body">
		<div class="container">
			<h2 class="title">Results</h2>
			<app-interested-place-display *ngFor="let place of interestedPlaces" [location]="location" [place]="place"></app-interested-place-display>
		</div>
	</div>
</section>