<div class="card" *ngIf="place.results && !place.dirty">
	<header class="card-header">
		<p class="card-header-title">
			{{place.name}}
		</p>
	</header>
	<div class="card-content">
		<div class="content is-medium">
			<!-- {{place.distance}} / {{place.duration}} from

			<div class="dropdown" [ngClass]="{'is-active': resultOpen}" (click)="resultOpen = !resultOpen">
				<div class="dropdown-trigger">
					<a aria-haspopup="true" aria-controls="dropdown-menu">
						<span class="editable">{{place.selectedResult.name}} - {{place.selectedResult.vicinity}}</span>
					</a>
				</div>
				<div class="dropdown-menu" role="menu">
					<div class="dropdown-content">
						<a *ngFor="let result of place.results" (click)="selectResult(result)" class="dropdown-item" [ngClass]="{'is-active': place.selectedResult == result}">
							{{result.name}} - {{result.vicinity}}
						</a>
					</div>
				</div>
			</div> -->
			<div class="field has-addons">
				<p class="control">
					<a class="button is-static">
						{{place.distance}} / {{place.duration}} from
					</a>
				</p>
				<p class="control">
					<span class="select">
						<select [(ngModel)]="place.selectedResult">
							<option *ngFor="let result of place.results" [ngValue]="result">{{result.name}} - {{result.vicinity}}</option>
						</select>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>