<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{getMethodText()}} to {{place.name}}
		</p>
	</header>
	<div class="card-content">
		<div class="content is-medium">
			<p *ngFor="let error of placeErrors">
				{{error}}
			</p>
			<p *ngIf="searchingForPlaces">
				Searching for results...
			</p>
			<div class="field" *ngIf="results.length > 0 && !searchingForPlaces">
				<p class="control">
					<span class="select">
						<select [(ngModel)]="selectedResult" (change)="getDistance()">
							<option *ngFor="let result of results" [ngValue]="result">{{result.name}} - {{result.vicinity}}</option>
						</select>
					</span>
				</p>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<p class="card-footer-item" *ngIf="!searchingForDistance && !searchingForPlaces">
			<span *ngIf="distanceErrors.length == 0">
				{{distance}} / {{duration}}
			</span>
			<span *ngFor="let error of distanceErrors">{{error}}</span>
		</p>
		<p class="card-footer-item" *ngIf="searchingForDistance || searchingForPlaces">
			Finding distance...
		</p>
		<p class="card-footer-item" *ngIf="!searchingForDistance && !searchingForPlaces && distanceErrors.length == 0">
			<a [href]="getMapsLink()">
				<i class="fas fa-map"></i>
			</a>
		</p>
	</div>
</div>